server:
  port: 9191

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/toi_db}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME:toi_user}
    password: ${DB_PASSWORD:toi_pass}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  expiration: 86400000
  refresh-expiration: 604800000
