server:
  port: 9191

spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: ${DB_URL:jdbc:h2:mem:toi_db;DB_CLOSE_DELAY=-1}
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.H2Dialect

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  expiration: 86400000
  refresh-expiration: 604800000
