<!doctype html>
<!-- NO_PALETTE -->
<html lang="kk">
<head>
{{head}}
</head>
<body>
  <div class="app">
    {{DECORATIONS}}
    <div class="inner">
      {{hero}}
      <div class="divider">❧ ✦ ❧</div>
      {{info}}
      {{gallery}}
      {{countdown}}
      {{calendar}}
      {{rsvp}}
      {{footer}}
    </div>
  </div>
  <script>
    window.CONFIG = {
      names: { bride: 'Гүлжан', groom: 'Нұржан' },
      day: '01-01-2027',
      hour: '18:00',
      location: 'Алматы, Grand Hall',
      locationUrl: '',
      gallery: [],
      description: 'Құрметті ағайын, үйлену тойына шақырамыз!',
      toiOwners: '',
      template: '{{TEMPLATE_KEY}}'
    };
  </script>
  <script src="../common/frame.js"></script>
</body>
</html>
